body {
    background-color: black;
    color: white;
}

header {
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
}

section {
    text-align: left;
    display:inline;
    width:50px;
    padding:5px;
}

li {
    display:inline-block;
}

ul {
    display: inline-block;
    float: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

/* unvisited link */
a:link {
    color: lightgray;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: hotpink;
}